@import url("index.css");

body {
    font-family: "Noto san HK";
}

.first-page {
    background-image: url("../image/seafoodgd/firstpage_bg.png");
    width: auto;
    height: 950px;
    padding: 300px 350px 0;
    background-repeat: no-repeat
}

.first-page h1 {
    font-size: 7rem;
    margin-left: 300px;
    font-weight: bolder;
    letter-spacing: 10px;
    text-shadow: 10px 10px 20px #ffffff;
    animation: fpgh1 2s ease-in-out forwards ;
}
@keyframes fpgh1{
    0%{transform: scale(1,1);}
    30%{transform: scale(1.5,1.5);}
    100%{transform: scale(1,1);}
}

.first-page p {
    font-size: 4rem;
    margin-top: 10px;
    margin-left: 310px;
    font-weight: bolder;
    letter-spacing: 10px;
    text-shadow: 10px 10px 20px #ffffff;
    opacity: 0;
    animation: fpga 2s 1s ease-in-out forwards ;
}
@keyframes fpga{
    0%{transform: scale(2,2);
        opacity: .5;
    }
    35%{transform: scale(1.5,1.5);}
    100%{transform: scale(1,1);
        opacity: 1}
}

.first-page a {
    display: block;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 977px;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
}

.main-page {
    background-image: url("../image/seafoodgd/mainbg.png");
    width: auto;
    display: flex;
    padding: 120px 30px 0 100px;
    background-repeat: no-repeat;
    height: 1341px;

}

.main-page aside ul {
    display: flex;
    margin-left: 117px;
    flex-direction: column;
    width: 300PX;
}
.main-page aside a{
    background-image: url(../image/seafoodgd/ruleicon.png);
    background-repeat: no-repeat;
    width: 51px;
    height: 51px;
}
.main-page aside a:hover{
    background-image: url(../image/seafoodgd/ruleicon_click.png);

}

.main-page aside li {
    margin-right: 10px;
}

.main-page li {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.main-page p {
    font-size: 3rem;
    padding-right: 10px;
}

.main-page article {
    width: auto;
    margin-right: 200px;
    overflow: hidden;

}
.priciple-1-article h3{
    animation: priciple1 2s forwards;
}
@keyframes priciple1{
    0%{transform: scale(1,1);}
    5%{transform: scale(2,2);}
    30%{transform: scale(1,1);}
    100%{transform: scale(1,1);}
}

.main-page article ul {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 8000px;
}

.main-page article li {
    display: flex;
    flex-direction: column;
    width: 900px;
    display: block;
    margin-right: 260px;
    margin-top: 30px;
    transition: 1s;
}

.main-page article li h3 {
    text-align: right;
    color: #7986F8;
    margin-bottom: 50px;
    font-weight: bold;
}

.main-page article li h4 {
    text-align: left;
    margin-bottom: 25px;
    font-weight: 800;
}

.main-page article li p {
    display: block;
    line-height: 1.8;
}

.foot {
    top: 2505px;
}
.first-page a:hover{
    color: red;
}